<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/d7b7ce1508.js" crossorigin="anonymous"></script>
    <title>Contacts</title>
</head>
<body>

    <div class="sign">
        <h3>Sign In</h3>
        <p>Don't have an account? <a href="/signup"> Sign Up</a></p>
        
         <form id="inputForm"action="/signin" method="post">
             <label for="emailInput">Email</label>
             <input id="emailInput" type="email" name="email">
             <label for="password">Password</label>
             <input id="password" type="password" name="password">
             <div style="display:flex;flex-direction:row-reverse; margin-top:20px; margin-bottom:20px;">
                 <a href="#" >Forgot your password?</a>
             </div>
             <button type="submit" id="sign-in-button"> <i class="fas fa-lock lock-logo"></i>  Sign In</button>

             
         </form>
         <% if(flag) {%>

                <h3 style="color:red">Check your password or email</h3>
        <%}%>
    </div>
    
</body>
</html>